/* +++++++++++++++ CONFIG PAGINA COMPLETA +++++++++++++++ */
html {
    height: 100%;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #252740;
    position: relative;
    min-height: 100vh;
}

/* +++++++++++++++ FIN CONFIG PAGINA COMPLETA +++++++++++++++ */

/* +++++++++++++++ HEADER +++++++++++++++ */
header {
    width: 100%;
    margin: 0px;
    position: relative;
    height: auto;
}

nav {
    /*establece color de fondo de la linea de los botones*/
    background-color: #252740;
}

input {
    /*no muestra el botón de menu */
    display: none;
}

label {
    /*no muestra la etiqueta ☰ */
    display: none;
}

ul {
    /*muestra los botones con la disposición horizontal para notebook */
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
    padding: 0;
}

li {
    /*determina la propiedad de cada botón*/
    display: block;
    background: #252740;
    padding: 1em;
    list-style: none;
    width: 11em;
    text-align: center;
    border-radius: 1em;
    font-weight: bold;
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/
li:hover {
    /*determina la propiedad de cada botón cuando se posiciona encima*/
    background-color: #FD7E14;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
}

ul li a:hover {
    color: #ffffff;
}

.home {
    background-color: #FD7E14;
}

/* +++++++++++++++ FIN HEADER +++++++++++++++*/

/* +++++++++++++++ MAIN +++++++++++++++ */
main {
    position: relative;
}

.contenedorflex {
    display: flex;
    /*    justify-content: space-around;*/
    align-items: center;
    justify-content: center;
    padding: 4.5vh;
}

.textoflex {
    align-content: center;
    margin: auto;
    color: #ffffff;
}

.textoflex h1 {
    padding-top: 1em;
}

.textoflex h4 {
    padding-top: 1em;
}

.textoflex h5 {
    padding-top: 1rem;
}

.imgHome {
    width: 20rem;
    margin: auto;
}

.fotoflex {
    margin: auto;
    padding-top: 5rem;
}

.hireMe {
    background-color: #FD7E14;
    font-weight: bold;
}

.mainMenuUL {
    display: flex;
    margin: auto;
    padding-top: 4rem;
    align-content: center;
    justify-content: center;
}

/* +++++++++++++++ FIN MAIN +++++++++++++++ */

/* +++++++++++++++ FOOTER +++++++++++++++ */
footer {
    background-color: #ffffff;
    position: absolute;
    font-size: 12;
    text-align: right;
    /*padding-right: 5em;*/
    color: #000000;
    bottom: 0;
    width: 100%;
    margin: auto;
}

.pie {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pie p {
    margin: auto;
}

/* +++++++++++++++ FIN FOOTER +++++++++++++++ */

@media all and (max-width: 700px) {
    /*cuando el dispositivo es como máximo de 700px*/

    input:checked~ul {
        /*muestra el contenido de todas las etiquetas ul */
        display: block;
    }

    input:checked~label {
        /*muestra todo el contenido de todas las etiquetas label */
        background: #252740;
    }

    label:hover {
        /*cambia el color de ☰ */
        background: #FD7E14;
    }

    li {
        /*elimina el margen  de cada botón */
        margin: auto;
        justify-content: center;
        background-color: #121329;
    }

    li:hover {
        /*determina la propiedad de cada botón cuando se posiciona encima*/
        background-color: #FD7E14;
    }

    label {
        /* dibuja la etiqueta ☰  con formato botón */
        box-sizing: border-box;
        display: block;
        border: 1px solid #ffffff;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        background-color: #252740;
        color: #ffffff;
        margin-left: auto;
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .menuUL {
        /*deja de mostrar el bloque contenedor de los botones horizontales */
        display: none;
        background-color: #121329;
    }

    li a {
        position: relative;
    }

    .contenedorflex {
        flex-direction: column;
        justify-content: center;
    }

    .imgHome {
        width: 15rem;
    }

    main div div h1 {
        font-size: 2rem;
        text-align: center;
    }

    main div div h4 {
        font-size: 1rem;
        text-align: center;
    }

    main div div h5 {
        font-size: 0.75rem;
        text-align: center;
    }

    .imgHome {
        position: relative;
        padding-top: 2rem;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .fotoflex {
        margin: auto;
        padding: 0;
    }
}