/* +++++++++++++++ CONFIG PAGINA COMPLETA +++++++++++++++ */
html {
    height: 100%;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #252740;
    position: relative;
    min-height: 100vh;
}

/* +++++++++++++++ FIN CONFIG PAGINA COMPLETA +++++++++++++++ */

/* +++++++++++++++ HEADER +++++++++++++++ */
header {
    width: 100%;
    margin: 0px;
    position: relative;
    height: auto;
}

nav {
    /*establece color de fondo de la linea de los botones*/
    background-color: #252740;
}

input {
    /*no muestra el botón de menu */
    display: none;
}

label {
    /*no muestra la etiqueta ☰ */
    display: none;
}

ul {
    /*muestra los botones con la disposición horizontal para notebook */
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
    padding: 0;
}

li {
    /*determina la propiedad de cada botón*/
    display: block;
    background: #252740;
    padding: 1em;
    list-style: none;
    width: 11em;
    text-align: center;
    border-radius: 1em;
    font-weight: bold;
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/
li:hover {
    /*determina la propiedad de cada botón cuando se posiciona encima*/
    background-color: #FD7E14;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
}

ul li a:hover {
    color: #ffffff;
}

.home {
    background-color: #FD7E14;
}

.dp {
    background-color: #FD7E14;
}

.studies {
    background-color: #FD7E14;
}

.experience {
    background-color: #FD7E14;
}

.competencies {
    background-color: #FD7E14;
}

/* +++++++++++++++ FIN HEADER +++++++++++++++*/

/* +++++++++++++++ MAIN +++++++++++++++ */
main {
    position: relative;
}

.contenedorflex {
    display: flex;
    /*    justify-content: space-around;*/
    align-items: center;
    justify-content: center;
    padding: 4.5vh;
}

.textoflex {
    align-content: center;
    margin: auto;
    color: #ffffff;
}

.textoflex h1 {
    padding-top: 1em;
}

.textoflex h3 {
    padding-top: 1em;
}

.textoflex h4 {
    padding-top: 1em;
}

.textoflex h5 {
    padding-top: 1rem;
}

h5.separacionIcono.ExperienceH5 {
    padding-top: 0;
    font-weight: normal;
}

.imgHome {
    width: 20rem;
    margin: auto;
}

.contenedorPhone {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgPhone {
    width: 3rem;
    background-color: #ffffff;
    border-radius: 10px;
}

.contenedorEmail {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgEmail {
    width: 3rem;
    background-color: #ffffff;
}

.contenedorLinkedin {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgLinkedin {
    width: 3rem;
    background-color: #ffffff;
    border-radius: 10px;
}

.contenedorGithub {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgGithub {
    width: 3rem;
    background-color: #ffffff;
    border-radius: 10px;
}

.contenedorDiscor {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgDiscor {
    width: 3rem;
    background-color: #ffffff;
    border-radius: 10px;
}

.fotoflex {
    margin: auto;
    padding-top: 5rem;
}

.hireMe {
    background-color: #FD7E14;
    font-weight: bold;
}

.separacionIcono {
    padding-left: 1rem;
}

h3.separacionIcono.PDh3{
    padding-top: 0;
}

.mainMenuUL {
    display: flex;
    margin: auto;
    padding-top: 4rem;
    align-content: center;
    justify-content: center;
}

.PDNombre {
    margin-bottom: 1rem;
    color: #FD7E14;
}

.PDfotoflex {
    margin: auto;
    padding-top: 1rem;
}

.imgPD {
    width: 20rem;
    margin: auto;
}

.contenedorUADE {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgUADE {
    width: 4rem;
    background-color: #ffffff;
}

.contenedorUM {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgUM {
    width: 4rem;
    background-color: #ffffff;
}

.contenedorDH {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgDH {
    width: 4rem;
    background-color: #ffffff;
}

.space {
    color: #252740;
}

.contenedorIAAP {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgIAAP {
    width: 4rem;
    background-color: #ffffff;
}

.contenedorAWS {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgAWS {
    width: 4rem;
    background-color: #ffffff;
}

.contenedorAXIGMA {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgAXIGMA {
    width: 4rem;
    background-color: #ffffff;
}

.contenedorSAP {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgSAP {
    width: 4rem;
    background-color: #ffffff;
}

.contenedorNASA {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgNASA {
    width: 4rem;
    background-color: #ffffff;
}

.contenedorCENCO {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgCENCO {
    width: 4rem;
    background-color: #ffffff;
}

.contenedorIBM {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgIBM {
    width: 4rem;
    background-color: #ffffff;
}

.contenedorBS {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgBS {
    width: 4rem;
    background-color: #ffffff;
}

.contenedorATOS {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgATOS {
    width: 4rem;
    background-color: #ffffff;
}

.contenedorCAP {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgCAP {
    width: 4rem;
    background-color: #ffffff;
}

.contenedorITR {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgITR {
    width: 4rem;
    background-color: #ffffff;
}

.contenedorINDRA {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgINDRA {
    width: 4rem;
    background-color: #ffffff;
}

.contenedorACCENTURE {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    padding: 0;
}

.imgACCENTURE {
    width: 4rem;
    background-color: #ffffff;
}

h1.indexH1{
    padding-top: 0rem;
    color: #FD7E14;
}

h1.educationH1{
    padding-top: 0rem;
    padding-bottom: 1rem;
    color: #FD7E14;
}

h1.experienceH1{
    padding-top: 0rem;
    padding-bottom: 1rem;
    color: #FD7E14;
}

h1.competenciesH1{
    padding-top: 0rem;
    padding-bottom: 1rem;
    color: #FD7E14;
}

/* +++++++++++++++ FIN MAIN +++++++++++++++ */

/* +++++++++++++++ FOOTER +++++++++++++++ */
footer {
    background-color: #ffffff;
    position: absolute;
    font-size: 12;
    text-align: center;
    /*padding-right: 5em;*/
    color: #000000;
    bottom: 0;
    width: 100%;
    margin: auto;
}

.pie {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pie.p {
    margin: auto;
}

/* +++++++++++++++ FIN FOOTER +++++++++++++++ */

@media all and (max-width: 700px) {
    /*cuando el dispositivo es como máximo de 700px*/

    input:checked~ul {
        /*muestra el contenido de todas las etiquetas ul */
        display: block;
    }

    input:checked~label {
        /*muestra todo el contenido de todas las etiquetas label */
        background: #252740;
    }

    label:hover {
        /*cambia el color de ☰ */
        background: #FD7E14;
    }

    li {
        /*elimina el margen  de cada botón */
        margin: auto;
        justify-content: center;
        background-color: #121329;
    }

    li:hover {
        /*determina la propiedad de cada botón cuando se posiciona encima*/
        background-color: #FD7E14;
    }

    label {
        /* dibuja la etiqueta ☰  con formato botón */
        box-sizing: border-box;
        display: block;
        border: 1px solid #ffffff;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        background-color: #252740;
        color: #ffffff;
        margin-left: auto;
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .menuUL {
        /*deja de mostrar el bloque contenedor de los botones horizontales */
        display: none;
        background-color: #121329;
    }

    li a {
        position: relative;
    }

    .contenedorflex {
        flex-direction: column;
        justify-content: center;
    }

    .imgHome {
        width: 15rem;
    }

    main div div h1 {
        font-size: 2rem;
        text-align: center;
    }

    main div div h4 {
        font-size: 1rem;
        text-align: center;
    }

    main div div h5 {
        font-size: 0.75rem;
        text-align: center;
    }

    .PDh3 {
        font-size: 1rem;
    }

    .imgHome {
        position: relative;
        padding-top: 2rem;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .fotoflex {
        margin: auto;
        padding: 0;
    }


    main div div H5.ExperienceH5 {
        text-align: left;
    }

}